[micro_param]
enable_micro=true
target=RISCV
support_parallel=false

[common_quant_param]
quant_type=FULL_QUANT
bit_num=8

[data_preprocess_param]
# {CALIBRATE_PATH} is filled by build_fwpkg.sh with per-input calibration dirs
calibrate_path={CALIBRATE_PATH}
calibrate_size=1
input_type=BIN

[full_quant_param]
activation_quant_method=MAX_MIN
bias_correction=true
enable_all_ops=true
